<ion-content>
  <ion-grid class="c-login o-brand-background">
    <ion-row class="c-login__header">
        <h1 class="u-font-display t4">Everything's better with friends</h1>
    </ion-row>

    <ion-row class="c-login__oauth">
      <p class="o-instruction">Please, select the service you prefer to log in with</p>
      <ion-grid class="c-oauth-providers">
        <ion-row align-items-center>
          <ion-col class="o-provider-icon" col-2>
            <ion-icon name="md-musical-notes"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <button class="o-provider-button s1" (click)="authenticate('spotify')" text-uppercase>Login with Spotify</button>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col class="o-provider-icon" col-2>
            <ion-icon name="logo-facebook"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <button class="o-provider-button s1" (click)="authenticate('facebook')" text-uppercase>Login with Facebook</button>
          </ion-col>
        </ion-row>
        <!--<ion-row align-items-center>
          <ion-col class="o-provider-icon" col-2>
            <ion-icon name="logo-twitter"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <button class="o-provider-button s1" (click)="authenticate('twitter')" text-uppercase>Login with Twitter</button>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col class="o-provider-icon" col-2>
            <ion-icon name="logo-google"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <button class="o-provider-button s1" (click)="authenticate('google')" text-uppercase>Login with Google</button>
          </ion-col>
        </ion-row>
        <ion-row align-items-center>
          <ion-col class="o-provider-icon" col-2>
            <ion-icon name="ios-contacts"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <button class="o-provider-button s1" (click)="authenticate('mastodon')" text-uppercase>Login with Mastodon</button>
          </ion-col>
        </ion-row>-->
        <ion-row align-items-center>
          <ion-col class="o-provider-icon" col-2>
            <ion-icon name="md-person"></ion-icon>
          </ion-col>
          <ion-col col-10>
            <button class="o-provider-button s1" (click)="authenticate('anonymous')" text-uppercase>Stay Anonymous</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-row>

  </ion-grid>
</ion-content>
