page-login {

  .c-login {
    flex-direction: column;
  }

  .c-login__header {
    height: auto;
    padding: 2rem 2rem 4rem;
    color: color($colors, light);
  }

  .c-login__oauth {
    flex: 1 1 auto;
    width: 100%;
    background-color: color($colors, dark);
    padding: 2rem;
    color: color($colors, light);
  }

  .c-oauth-providers {
    color: color($colors, primary);

    .o-provider-button {
      font-family: $font-source-sans-pro;
      letter-spacing: 2.6px;
      background-color: transparent;
      color: color($colors, primary);
      margin: 1.5rem 0;
    }

    .o-provider-icon {
      text-align: center;
    }
  }
}
