<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
    <ion-refresher-content
    pullingText="Pull to refresh..."
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-header>
    <menu  [isOpen]="menuIsOpen" [activePage]="activePage" (toggle)="toggleMenu($event)" (onSelection)="navigateTo($event)"></menu>
  </ion-header>
  <ion-grid class="c-bar-menu o-brand-background">
    <ion-row class="c-bar-menu__header">
      <button class="o-app-menu u-font-display s1" (click)="toggleMenu()" ion-button>Menu</button>
    </ion-row>

    <ion-row class="c-bar-menu__nav">
      <button class="o-navigation-back u-font-display t4" (click)="next()"><ion-icon name="arrow-back" ></ion-icon></button>
      <nav class="c-navigation-list">
        <ul>
          <li class="navigation-list__item" [ngClass]="{'is-active': activeMenu == 0}">Drinks</li>
          <li class="navigation-list__item" [ngClass]="{'is-active': activeMenu == 1}">Food</li>
          <li class="navigation-list__item" [ngClass]="{'is-active': activeMenu == 2}">Snacks</li>
        </ul>
      </nav>
      <button class="o-navigation-forward u-font-display t4" (click)="prev()"><ion-icon name="arrow-forward" ></ion-icon></button>
    </ion-row>

    <ion-row class="c-bar-menu__body">

      <ion-col  *ngFor="let item of items" class="c-menu-item" (click)="addToCart(item)" col-12>
        <h1 class="o-menu-item-name u-font-display t2" col-10>{{item.name}}</h1>
        <span class="o-menu-item-price u-font-display t2" col-2>${{item.price}}</span>
        <p class="o-menu-item-description" col-12>{{item.description}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="order" class="c-page-widget">
    <span class="o-widget-title">Order total</span>
    <span class="o-widget-body">${{order.total}}</span>
  </div>
</ion-content>
