page-bar-menu {

  .c-bar-menu {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .c-bar-menu__header {
    width: 100%;
    padding: 2rem;
  }

  .c-bar-menu__nav {
    padding: 1rem 2rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;

    .o-navigation-back,
    .o-navigation-forward {
      background-color: transparent;
      color: color($colors, light);
      padding: 1rem;
    }

    .c-navigation-list {
      position: relative;
      text-align: center;
      padding: 1rem;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      width: 50%;

        .navigation-list__item {
          list-style-type: none;
          position: absolute;
          top: 50%;
          left: 50%;
          color: color($colors, light);
          font-family: $font-trenda;
          font-size: 42px;
          opacity: 0;
          visibility: hidden;
          transform: translate(-50%, -50%);

          &.is-active {
            opacity: 1;
            visibility: visible;
          }
        }
    }
  }

  .c-bar-menu__body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2rem 1rem 10rem;

  }

  .c-menu-item {
    display: flex;
    flex-direction: row;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    padding: 1.5rem;
    margin: 0 auto 1rem;
    color: color($colors, light);

    &:last-child::after {
      content: '';
      display: block;
      height: 20rem;
      width: 100%;
    }

    .o-menu-item-name {
      width: 80%;
      margin: 0;
    }

    .o-menu-item-price {
      width: 20%;
      color: color($colors, primary);
      margin: 0;
    }

    .o-menu-item-description {
      width: 100%;
      font-family: $font-source-sans-pro;
      letter-spacing: 1.2px;
    }
  }

}
