menu {
  .c-app-menu {
    flex-direction: column;
    width: 100%;
    height: 100%;

  }

  .c-bar-menu__header {
    width: 100%;
    padding: 2rem;
  }

  .c-bar-menu__body {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 5rem;
    flex: 1 1 auto;
  }
}
