<ion-grid class="c-app-menu" [ngClass]="{'is-open': isOpen}">
  <ion-row class="c-app-menu__header">
    <button class="o-app-menu u-font-display s1" (click)="toggleMenu()" ion-button>Close</button>
  </ion-row>

  <ion-row class="c-app-menu__body" align-items-center>
    <button (click)="selectPage(0)" [ngClass]="{'is-active': activePage === 0}" class="o-menu-link" ion-button clear>Menu</button>
    <button (click)="selectPage(1)" [ngClass]="{'is-active': activePage === 1}" class="o-menu-link" ion-button clear>Karaoke</button>
    <button (click)="selectPage(2)" [ngClass]="{'is-active': activePage === 2}" class="o-menu-link" ion-button clear>Reservations</button>
  </ion-row>

  <ion-row class="c-app-menu__foot" justify-content-center>
    <button class="u-font-display" text-center ion-button clear (click)="selectPage(4)">Sign out</button>
  </ion-row>
</ion-grid>
