// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// .content {
//    background-image: url("./../assets/img/background.png");
//    background-size: cover;
//    background-position: center;
//    color: color($colors, primary);
//    background-repeat: no-repeat;
// }
//
// .scroll-content {
//   padding: 0 !important;
// }
//
// .header-md::after {
//   background: none;
// }
//
// .toolbar-background {
//   background: transparent;
//
// }
//
// .toolbar-title {
//   color: color($colors, primary);
// }
//
// .summary {
//   background: color($colors, dark);
//   color: color($colors, primary);
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   font-size: 2.5vmax;
//   width: 20vmax;
//   height: 20vmax;
//   padding: 1em;
//   display: inline-block;
//   text-align: center;

html,
body p{
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 1.2px;
}


.t4 { font-size: 42px; }
.t3 { font-size: 22px; }
.t2 { font-size: 18px; }
.t1 { font-size: 16px; }
.s1 { font-size: 14px; }
.s2 { font-size: 12px; }

.o-brand-logo {
  font-family: $font-yesteryear;
  color: color($colors, primary);
  font-size: 36px;
}

.o-brand-title {
  display: block;
  font-size: 12px;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.o-secondary-action {
  font-size: 2rem;
}

.o-app-menu {
  background: transparent;
  color: color($colors, light);
  position: relative;
  padding-left: 3.6rem;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 40%;
    left: 20%;
    width: 2rem;
    height: 2rem;
    background: url('../assets/img/icons/menu-small.svg') 50% 50% no-repeat;
    background-size: contain;
    transform: translateY(-50%);
  }
}

.o-brand-background {
  width: 100%;
  height: 100%;

  &::before {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../assets/images/background.jpg') 50% 50% no-repeat;
    background-size: cover;
    z-index: -2;
  }

  &::after {
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(135deg, transparentize(#14121C, 0.04) 0%, transparentize(#14121C, 0.04) 71%, transparentize(#211A68, 0.04) 100%); /* stylelint-disable-line */
  }
}

.c-app-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem 0;
}

.c-app-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4rem 1.5rem 0;
  background-color: rgba(0, 0, 0, 0.95);
  z-index: 2;
  display: none;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;

  &.is-open {
    display: block;
    visibility: visible;
    opacity: 1;
  }

  .o-menu-link {
    width: 100%;
    font-family: $font-trenda;
    font-weight: 700;
    color: color($colors, light);
    font-size: 22px;
    margin: 1rem auto;
    text-align: center;

    &.is-active {
      color: color($colors, primary);
    }
  }
}

.c-page-widget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  background-color: #000000;
  padding: 1rem;
  width: 50vw;
  height: 50vw;
  color: color($colors, light);

  .o-widget-title,
  .o-widget-body,
  .o-widget-foot {
    display: block;
    font-family: $font-source-sans-pro;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin: 0.5rem 0;
  }

  .o-widget-body {
    font-family: $font-trenda;
    color: color($colors, primary);
    font-size: 42px;
    margin: 1rem 0;
  }
}

.c-form-field {
  width: 80%;
  margin: 1.5rem auto 3rem;
  padding: 0 0.5rem;
  font-family: $font-source-sans-pro;

  .o-field-label {
    display: block;
    color: color($colors, primary);
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-size: 14px;
  }
}

input, textarea {
  font-family: $font-trenda;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  border: 0;
  color: color($colors, light);
}

textarea {
  resize: none;
  width: 100%;
}


.u-font-display {
  font-family: $font-trenda;
  font-weight: 700;
}
