page-welcome {
  .c-welcome {
    width: 100%;
    height: 100%;
    color: color($colors, light);
  }

  .c-welcome__wrapper {
    width: 100%;
    height: 100%;
  }

  .c-welcome__header {
    padding-left: 24px;
    margin-bottom: 2rem;
  }

  .c-action-block {
    position: relative;
    background-color: #000000;
    width: 100%;
    height: 50vw;
    max-height: 300px;
  }

  .o-action {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    font-family: $font-trenda;
    font-size: 22px;
    font-weight: 700;
    color: color($colors, light);
    background-color: transparent;
    transform: translateY(-50%);
  }
}
