page-new-reservation {

  .c-new-reservation {
    flex-direction: column;
  }

  .c-new-reservation__header {
    height: auto;
    padding: 2rem 2rem 4rem;
    color: color($colors, light);
  }

  .c-new-reservation__form {
    flex: 1 1 auto;
    width: 100%;
    background-color: color($colors, dark);
    padding-top: 2rem;
    padding-bottom: 15rem;
    color: color($colors, light);
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;

    form {
      width: 100%;
    }

    .o-form-submit {
      display: block;
      margin: 0 auto 2rem;
    }
  }
}
