<ion-content>
  <ion-grid class="c-new-reservation o-brand-background">

    <ion-row>
      <button class="u-font-display s1" (click)="cancel()" ion-button clear>Cancel</button>
    </ion-row>

    <ion-row class="c-new-reservation__header">
        <h1 class="u-font-display t4">Create a new reservation</h1>
    </ion-row>

    <ion-row *ngIf="reservation" class="c-new-reservation__form">
      <form (ngSubmit)="addReservation()" #newReservation="ngForm">
        <div class="c-form-field">
          <label class="o-field-label">Name</label>
          <input type="text" name="name" placeholder="Type the name of the event" [(ngModel)]="reservation.name">
        </div>
        <div class="c-form-field">
          <label class="o-field-label">Description</label>
          <textarea name="description" placeholder="Type the name of the event" [(ngModel)]="reservation.description"></textarea>
        </div>
        <div class="c-form-field">
          <label class="o-field-label">Guests</label>
          <input type="number" name="guests" placeholder="0" min="0" max="15" [(ngModel)]="reservation.guests">
        </div>
        <div class="c-form-field">
          <label class="o-field-label">Date</label>
          <input type="date" name="date" placeholder="mm/dd/yyyy" [(ngModel)]="reservation.date">
        </div>
        <div class="c-form-field">
          <label class="o-field-label">Time</label>
          <input type="time" name="time" placeholder="hh:mm" [(ngModel)]="reservation.time">
        </div>
        <div class="c-form-field">
          <label class="o-field-label">Service order</label>
          <textarea name="service" placeholder="Create a service order for your reservation" [(ngModel)]="reservation.service"></textarea>
        </div>

        <button type="submit" class="o-form-submit u-font-display t2" text-center ion-button clear>Add reservation</button>
      </form>
    </ion-row>

  </ion-grid>
</ion-content>
