<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
    <ion-refresher-content
    pullingText="Pull to refresh..."
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid class="c-karaoke o-brand-background">

    <ion-row class="c-app-header">
        <button class="o-app-menu u-font-display s1" (click)="toggleMenu()" ion-button>Menu</button>
        <button *ngIf="viewQueue" (click)="togglePicker()" class="o-secondary-action" ion-button clear><ion-icon name="musical-notes"></ion-icon></button>
        <button *ngIf="viewPicker" (click)="toggleQueue()" class="o-secondary-action" ion-button clear><ion-icon name="list"></ion-icon></button>
    </ion-row>

    <menu [isOpen]="menuIsOpen" [activePage]="activePage" (toggle)="toggleMenu($event)" (onSelection)="navigateTo($event)"></menu>

    <ion-row *ngIf="current" class="c-karaoke__playing">
      <div class="c-playing-album">
        <img src="{{current.image}}" class="o-album-artwork">
      </div>
      <div class="c-playing-data">
        <div class="c-playing-data__song">
          <span class="o-song-artist" text-uppercase>{{current.artist}}</span>
          <h1 class="o-song-name u-font-display t3">{{current.name}}</h1>
          <span class="o-album-name">{{current.album}}</span>
        </div>
        <div class="c-playing-data__singer">
          <img class="o-singer-profile" src="{{current.picture}}" alt="">
        </div>
      </div>
    </ion-row>

    <ion-row class="c-karaoke__queue" *ngIf="viewQueue">
      <ion-col *ngFor="let turn of queue" class="c-queue-turn" col-12>
        <div class="c-queue-turn__data">
          <h2 class="o-song-name u-font-display t2">{{turn.name}}</h2>
          <p class="o-song-artist">{{turn.user}}</p>
        </div>
        <div class="c-queue-turn__singer">
          <img class="o-singer-profile" src="{{turn.picture}}" alt="">
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="c-karaoke__queue" *ngIf="viewPicker && picks">
      <ion-col *ngFor="let song of picks" (click)="addSongToQueue(song)" class="c-queue-turn" col-12>
        <div class="c-queue-turn__data">
          <h2 class="o-song-name u-font-display t2">{{song.name}}</h2>
          <p class="o-song-artist">{{song.artist}}</p>
        </div>
        <div class="c-queue-turn__singer">
          <img class="o-singer-profile" src="{{song.image}}" alt="">
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
