page-queue {

  .c-queue {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .c-queue__header {
    width: 100%;
    padding: 2rem;
  }

  .c-karaoke__playing {
    padding: 2rem 2rem 4rem;

    .c-playing-album {
      width: 100%;
      margin-bottom: 1rem;

      .o-album-artwork {
        display: block;
        width: 60vw;
        height: 60vw;
        border-radius: 5px;
        margin: 1rem auto;
        background-color: color($colors, light);
      }
    }
  }

  .c-playing-data {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: color($colors, light);
    font-family: $font-source-sans-pro;
    width: 70vw;
    margin: 0 auto;

    .c-playing-data__song {
      width: 80%;

      .o-song-artist {
        margin: 0;
        letter-spacing: 1.2px;
      }

      .o-song-name {
        margin: 0.5rem 0;
      }

      .o-album-name {
        margin: 0;
      }
    }

    .c-playing-data__singer {
      width: 20%;

      .o-singer-profile {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }

  .c-karaoke__queue {
    width: 100%;
    height: auto;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #000000;

    .c-queue-turn {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      padding: 2rem;
      text-align: right;
      color: color($colors, light);

      .c-queue-turn__data {
        width: 80%;
        padding-right: 3rem;
        color: color($colors, light);

        .o-song-name {
          letter-spacing: 1.2px;
          margin: 0 0 0.5rem;
        }

        .o-song-artist {
          margin: 0;
          letter-spacing: 1.2px;
        }
      }

      .c-queue-turn__singer {
        width: 20%;

        .o-singer-profile {
          display: block;
          width: 4rem;
          height: 4rem;
          margin: 0 auto;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
  }
}
