<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" (ionPull)="doPulling($event)">
    <ion-refresher-content
    pullingText="Pull to refresh..."
    refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-grid class="c-reservations o-brand-background">

    <ion-row class="c-app-header">
        <button class="o-app-menu u-font-display s1" (click)="toggleMenu()" ion-button>Menu</button>
        <button (click)="toggleNewReservation()" class="o-secondary-action" ion-button clear><ion-icon name="add"></ion-icon></button>
    </ion-row>

    <menu  [isOpen]="menuIsOpen" [activePage]="activePage" (toggle)="toggleMenu($event)" (onSelection)="navigateTo($event)"></menu>

    <ion-row class="c-reservations__list">
      <ion-col *ngFor="let reservation of reservations" (click)="handleDeletion(reservation.id)" class="c-reservation" col-12>
        <h1 class="u-font-display o-reservation-name t1">{{reservation.name}}</h1>
        <span class="o-reservation-details">{{reservation.guests}} guests - {{reservation.attending}} attending</span>
        <p class="o-reservation-description">{{reservation.description}}</p>
        <p class="o-reservation-description">Service order:{{reservation.service}}</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="current" class="c-page-widget">
    <span class="o-widget-title">Reservation for</span>
    <span class="o-widget-body">{{current.guests}}</span>
    <span class="o-widget-foot">{{current.time}}</span>
  </div>
</ion-content>
