page-reservation {
  .c-reservations {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .c-reservations__header {
    width: 100%;
    padding: 2rem;
  }

  .c-reservations__list {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2rem 2rem 10rem;
    font-family: $font-source-sans-pro;

    .c-reservation {
      width: 90%;
      color: color($colors, light);
      padding: 1rem;
      margin: 0 auto 1.5rem;

      &:last-child::after {
        content: '';
        display: block;
        height: 20rem;
        width: 100%;
      }

      .o-reservation-details {
        color: color($colors, primary);
        text-transform: uppercase;
        letter-spacing: 1.4px;
      }

      .o-reservation-description {
        letter-spacing: 1.2px;
      }
    }
  }
}
